<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <title>To Do List</title>
    </head>
    <body>
        <main>
            <div>
                <h1> {{ todoitem.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' todoitem.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' todoitem.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todoitem.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' todoitem.id %}">{{ item.task }}</a>
                                </td>
                                <td>{{ item.due_date|date:"N j, Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
